/*-----------header--------*/

header {
    width: 100%;
}
header h3 {
    padding: 22px 36px;
    color: #F9F9F9;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*------------about-me----------*/

.about{
    display: flex;
    flex-direction: column;
    margin-left: 182px;
    margin-top: 112px;
}
.about h1{
    color: #222;
    font-size: 40px;
    font-weight: 600;
    line-height: 62px; /* 155% */
    width: 475px;
}
.about p{
    color: #222;
    font-size: 18px;
    width: 509px;
    height: 144px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 54px;
}
.about_buttons{
    padding-top: 25px;
    display: flex;
    gap: 25px;
}
.about_buttons button:nth-child(1){
    border-radius: 10px;
    background: #FF2950;
    color: #F9F9F9;
    font-size: 18px;
    font-weight: 500;
    width: 151px;
    height: 55px;
}
.about_buttons button:nth-child(2){
    border-radius: 10px;
    border: 2px solid #FF9B70;
    color: rgba(34, 34, 34, 0.50);
    font-size: 18px;
    font-weight: 500;
    width: 153px;
    height: 55px;
}
.about_buttons button:nth-child(2):hover{
    background-color: #FF9B70;
    color: #F9F9F9;
    transition: .3s;
}
.avatar{
    position: absolute;
    top: 100px;
    right: 176px;
}

/*-------------section1-content-----------*/

.content1{
    width: 1140px;
    height: 519px;
    border-radius: 35px;
    background: #FF7315;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 125px auto;
}
.content1 div h1{
    color: #F9F9F9;
    font-size: 72px;
    font-weight: 600;
}
.content1 div h2{
    color: #F9F9F9;
    font-size: 48px;
    font-weight: 600;
}
.content1 div p{
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px; /* 150% */
    width: 570px;
}
.content1 img{
    width: 430px;
    height: 329px;
    padding-left: 32px;
}

.heading{
    color: #222;
    font-size: 48px;
    font-weight: 600;
    margin: 100px auto;
    text-align: center;
}

/*----------article-----------*/

article{
    width: 100%;
    display: flex;
    padding-left: 240px;
    gap: 60px;
}
article h3{
    color: #222;
    font-size: 24px;
    font-weight: 500;
    width: 240px; /*for <h3>Client’s Favourite</h3>*/
    margin-bottom: 12px;
}
article p{
    color: rgba(34, 34, 34, 0.50);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 240px;
}
.item{
    padding-right: 60px;
    width: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.decoration_circle{
    width: 98px;
    height: 98px;
    border-radius: 50%;
    background-color: rgba(34, 34, 34, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 51px;
}

/*------------------section2-gallery---------------*/

.portfolio_gallery{
    height: calc(300px + 300px + 24px);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 310px);
    grid-template-rows: repeat(3, 300px);
    grid-gap: 24px;
    margin-top: 64px;
}
.portfolio_gallery img{
    cursor: pointer;
    transition: .6s;
}
.portfolio_gallery img:hover{
    transform: scale(1.02);
    transition: .3s;
    -webkit-box-shadow: 0px 0px 46px -7px rgba(87,87,87,1);
    -moz-box-shadow: 0px 0px 46px -7px rgba(87,87,87,1);
    box-shadow: 0px 0px 46px -7px rgba(87,87,87,1);
}
.portfolio_h{
    color: #222;
    font-size: 48px;
    font-weight: 600;
    line-height: 123.6%; /* 59.328px */
    text-transform: capitalize;
    margin-top: 125px;
    margin-left: 150px;
}

/*--------------------section3-content2-------------------*/

.content2{
    width: 100%;
    height: 643px;
    background: #FF7315;
    display: flex;
    justify-content: center;
    gap: 82px;
    position: relative;
    margin-top: 125px;
}
.content2 h1{
    position: absolute;
    top: 48px;
    width: 609px;
    color: #F9F9F9;
    font-size: 48px;
    text-align: center;
    font-weight: 600;
}
.content2 div{
    width: 529px;
    height: 179px;
    border-radius: 30px;
    background: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
}
.content2 div p{
    color: #222;
    font-size: 24px;
    font-weight: 400;
    width: 419px;
}

/*---------------------------section4-prise_plans-------------------------*/

.prise_plans{
    width: 335px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 20px 40px 0px rgba(255, 115, 21, 0.10);
    display: flex;
    gap: 68px;
    margin-left: 200px;
    margin-top: 64px;
}
.prise_plan{
    background-color: #F9F9F9;
}
.prise_plans p{
    color: rgba(34, 34, 34, 0.50);
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
}
.prise_plan_price{
    display: flex;
    justify-content: center;
    padding-bottom: 29px;
}
.prise_plan_price h1{
    color: #2B2B2B;
    font-size: 32px;
    font-weight: 700;
    padding-top: 36px;
}
.prise_plan_price p{
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px; /* 160% */
    padding-top: 47px;
    padding-left: 12px;
}
.prise_plan_name{
    width: 335px;
    height: 66px;
    border-radius: 15px 15px 0px 0px;
    background: #FF9B70;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    padding-top: 18px;
}
.prise_plan_name h1{
    color: #F9F9F9;
    font-size: 24px;
    font-weight: 600;
}
.prise_plans_h{
    color: #222;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-top: 125px;
}
.prise_plans_item{
    display: flex;
    padding-left: 48px;
    gap: 17px;
}
.prise_plans_item img{
    display: flex;
    width: 24.885px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.prise_plans p.active-list{
    color: #222;
}

/*----------------block-------------------*/

.block{
    width: 1110px;
    height: 224px;
    border-radius: 25px;
    background: #FF7315;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 75px;
    padding-right: 100px;
}
.block h1{
    color: #F9F9F9;
    font-size: 36px;
    font-weight: 600;
    line-height: 62px;
    width: 343px;
}
.block button{
    width: 259px;
    height: 70px;
    border-radius: 10px;
    background: #F9F9F9;
    box-shadow: 0px 0.927px 1.924px 0px rgba(0, 0, 0, 0.01);
    color: #222;
    font-size: 24px;
    font-weight: 600;
}

/*----------------blog----------------*/

.blog{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 48px;
}
.blog_item{
    width: 270px;
    height: 364px;
    border-radius: 15px;
    background: #F9F9F9;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
.blog_item h3{
    color: #222;
    font-size: 16px;
    font-weight: 500;
    line-height: 123.6%; /* 19.776px */
    text-transform: capitalize;
    min-width: 233px;
    padding-bottom: 12px;
}
.blog_item img{
    padding-bottom: 24px;
}
.blog_item p{
    color: rgba(34, 34, 34, 0.50);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 200% */
    text-transform: capitalize;
    padding-left: 14px;
}
.blog_h{
    color: #222;
    font-size: 48px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 150px;
}
/*-------------footer----------------*/
footer{
    width: 100%;
    height: 170px;
    background: #F1F1F1;
    display: flex;
    justify-content: center;
    padding-top: 66px;
    margin-top: 125px;
}
footer p{
    color: #222;
    font-size: 18px;
    font-weight: 500;
}